@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #605d50;
}

.tour-categories {
  display: flex;
}

.tour-categories * {
  margin: .5rem;
}

#bio-card-img {
  background: transparent;
}

#tour-card-description {
  position: relative;
    overflow-y:  scroll;
}
#categories-dropdown {
  color: #c69c6a;
}

#bio-card-img {
  width: 30rem;
   margin: 10px;
   color: #ffffff;
   background-color: #cbbaa6;
}

input[type=text] {
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

#tour-card-style {
  width: 20rem;
  margin: 10px;
  max-height: 750px;
  background-color: #cbbaa6;
  color: #605d50;
}

#tour-card-index {
  display: flex;
  justify-content: space-around;

}

#user-tours-cards {
  display: flex;
  justify-content: space-around;
}

#intro-card {
  /* max-width: 1040px; */
  color: #daddc5;
  background-image: url("https://cdn.pixabay.com/photo/2016/01/09/18/28/notepad-1130743_1280.jpg");
   background-color: #cbbaa6;
};

.view-tour {
  display: flex;
  flex-direction: column;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.c-multi-select-dropdown{
    margin:30px auto;
    position:relative;
    width:300px;

    &:hover{
        .c-multi-select-dropdown__options{
            display:block;
        }
    }

    .c-multi-select-dropdown__selected{
        border:solid 1px #eee;
        font-size:14px;
        padding:10px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        background-color: #eee;

        > img {
            height:18px;
        }
    }

    .c-multi-select-dropdown__options{
        display:none;
        position: absolute;
        box-sizing: border-box;
        left:0;
        width:100%;
        list-style: none;
        padding-left:0px;
        /* border:solid 1px #eee; */
        padding:5px 0px;
        background-color: #eee;
    }

    .c-multi-select-dropdown__option{
        display:flex;
        align-items: center;
        padding:6px 10px;
        cursor:pointer;

        &:hover{
            background-color: #eee;
        }
        
        &-checkbox{
            margin-right:6px;
        }
    }
}